
@use'../custom' as *;
@use'../components/mixins' as *;

.menu {
    background-color: white;
    opacity: 95%;



    li {
        padding: 0 0.7rem;
        color: $black !important;

        @include media-breakpoint-down(md) {
            font-size: small;
            position: relative;
        }


        &:hover {
            background-color: $primary;
            color: $black !important;
            border-radius: 5rem;
        }

        a {
            color: $black !important;
            text-transform: capitalize;
            font-weight: 600;
        }

        .btn-rounded{
            margin-top:0;
        }
    }

    .navbar-toggler {
        background-color: $primary;
    }

    .navbar-toggler-icon {
        background-color: transparent;
    }
}

.navbar-nav {
    @include media-breakpoint-down(md) {
      
        padding: 0.2rem;
        display: block;
        overflow-y: scroll;
        height:120px;
    }

    .container {
        @include media-breakpoint-down(md) {
            font-size: small;
            padding: 0.2rem;
            display: block;
            max-height: auto;
            overflow-y: scroll;
            height: 100px;
        }
        }
    }