@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
	position: fixed;
	.container-fluid {
		justify-content: end;
	}
	li {
		padding: 0 0.7rem;
		color: $black !important;

		@include media-breakpoint-down(md) {
			font-size: small;
			position: relative;
		}

		&:hover {
			background-color: $primary;
			color: $black !important;
			border-radius: 5rem;
		}

		a {
			color: $black !important;
			text-transform: capitalize;
			font-weight: 600;
		}
	}

	.btn-rounded {
		margin: 0;
		position: relative;
		display: inline-block;
		padding: 0.1rem 1rem 0.1rem 1rem;
		font-weight: 700;
		margin: 0;
		border: 5px solid $primary;
		background-color: none;
		width: fit-content;
	}

	.navbar-nav {
		@include media-breakpoint-down(md) {
			padding: 0.2rem;
			display: block;
			overflow-y: scroll;
			height: 120px;
		}

		.container {
			@include media-breakpoint-down(md) {
				font-size: small;
				padding: 0.2rem;
				display: block;
				max-height: auto;
				overflow-y: scroll;
				height: 100px;
			}
		}
	}

	.navbar-brand {
		margin: 0 !important;
		padding: 0;
	}
	.dropdown-menu {
		opacity: 100;
		background-blend-mode: color !important;

		.dropdown-item {
			&:hover {
				background-color: transparent !important;
			}
		}
	}
}
