@use "../custom" as *;
@use "../components/mixins" as *;

.navbar.second-navbar {
	margin-top: 80px;
	z-index: 1;
	@include media-breakpoint-up(lg) {
		margin-top: 70px;
	}
}

.dropdown-menu {
	z-index: 2;
}

.second-navbar {
	li {
		font-size: 16px;
		@include media-breakpoint-down(md) {
			font-size: 2.5vw;
		}
	}
}

.button {
	display: inline-block;
	margin: 4px 2px;

	border-radius: 50px;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: rgb(208, 150, 150);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 80%;
	border-radius: 50px;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 30vw; /* Bar width+1px */
	padding: 0 16px 0 0;
	background-color: bisque;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

// aside

.mySidepanel,
.sidebar {
	/* Specify a height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 20;
	left: 0;
	/* Black*/
	margin-top: 57px;
	/* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	color: rgb(255, 147, 6);
	padding: 10px 15px;
	border: none;
	@include media-breakpoint-down(sm) {
		p {
			display: none;
		}
		i {
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.openbtn:hover {
	background-color: #444;
}
