@use "../custom" as *;
@use "../components/mixins" as *;

.content-inner {
	flex-wrap: nowrap !important;

	aside {
		width: 30%;
		padding-left: 15px;
		margin-left: 15px;
		float: right;
		font-style: italic;
		background-color: lightgray;
	}
	margin: 0 !important;
}

.HomeCats {
	background: #ffefba;
	background: radial-gradient(
		circle farthest-corner at center center,
		#fcf0c9 0%,
		#f5e5b1 39%,
		#ffefba 100%
	);
	/* From https://css.glass */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	/* fallback for old browsers */

	.header-title {
		background-color: transparent;
	}
	.card-grid-container {
		display: grid;
		grid-gap: 15px;
		/* For 3 columns */
		grid-template-columns: auto auto auto auto;

		width: auto;
		height: auto;
		@include media-breakpoint-down(sm) {
			grid-template-columns: auto auto;
		}
		.card {
			width: auto;
			overflow: hidden;
			.card-header {
				padding: 10px;
				margin: 0;
				white-space: nowrap;
				.col {
					margin: 0;
				}
			}
			.cats-image {
				overflow: hidden;
				width: 100%;
				height: 100%;
			}
			img {
				width: 100%;
				height: 25vw;
				position: inherit;
				object-fit: cover;
				display: block;
				transition: transform 0.3s ease-in-out;

				@include media-breakpoint-down(sm) {
					width: 100%;
					height: 30vw;
					margin: auto;
				}
			}
			.card-footer {
				display: none;
			}
		}
		.card .cardfooter {
			position: absolute;
			bottom: -200px;
			background-color: $primary;
			// height: 50px;
			// width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px;
			color: rgb(255, 235, 124);
			opacity: 0;
			// transform: translateY(20%);
			transition: all 0.5s ease;
		}

		.card:hover .cardfooter {
			bottom: 0px;
			opacity: 1;
		}
		.card:hover {
			box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
				rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

			transform: scale(1.05);
			transition: all 0.5s ease;
			img {
				filter: blur(1px);

				filter: saturate(200%);
				filter: sepia(30%);
			}
		}
	}
}

.items-catergory-card {
	justify-content: center;
	flex-wrap: nowrap !important;
	overflow-x: auto;
	/* From https://css.glass */

	@media (max-width: 1254px) {
		justify-content: start;
	}
	@include media-breakpoint-down(sm) {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	// .card {
	// 	width: 20vw;
	// 	margin: 2rem;
	// 	padding: 10px;
	// 	@include media-breakpoint-down(sm) {
	// 		width: 40vw;
	// 	}
	// 	.card-header {
	// 		font-size: 15px;
	// 		flex-wrap: nowrap;
	// 		padding: 0;
	// 		@include media-breakpoint-down(md) {
	// 			font-size: 10px;
	// 		}
	// 		.text-left,
	// 		.text-right {
	// 			padding: 0;
	// 			text-align: center;
	// 		}
	// 	}
	// }
	.catcard {
		width: auto;
		margin: 1% !important;
		@include media-breakpoint-down(sm) {
			margin-right: 10vw !important;
			.card-header {
				font-size: 10px;
				white-space: nowrap;
			}
		}
		.image-grid-container {
			display: grid;
			grid-gap: 5px;
			/* For 3 columns */
			grid-template-columns: auto auto;

			width: auto;
			height: auto;
			.card-img-top {
				box-shadow: rgba(153, 153, 153, 0.35) 0px 5px 15px;
				background-color: #ebebeb60;
				border-radius: 10%;

				margin: auto;
				justify-content: center;
				align-content: center;
				position: relative;
				padding: 5px;
			}
			img {
				width: 120px;
				position: inherit;
				@include media-breakpoint-down(sm) {
					width: 60px;
					margin: auto;
				}
			}
		}
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}
}
.promo-card {
	justify-content: center;
	flex-wrap: nowrap !important;
	overflow-x: auto;

	.card {
		width: 300px;
		margin: auto;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;

		justify-content: center !important;
		@include media-breakpoint-down(md) {
			margin-right: 10%;
		}
		.alert {
			position: absolute;
			top: 50%;
			width: auto;
			transform: translate(-50%, 0%);
			font-size: 12px;
			padding: 5px;
			border-radius: 5px;
			border: none;
		}

		.alert-info {
			background-color: #ffd900; /* Green background color */
			color: rgb(0, 0, 0);
		}
		.card-header {
			font-size: 15px;
			flex-wrap: nowrap;
			padding: 0;

			@include media-breakpoint-down(md) {
				font-size: 10px;
			}
			.text-left {
				padding: 0;
				text-align: center;
			}

			.text-right {
				text-align: end;
			}
		}
		.card-body {
			margin-top: 5%;
		}
		.wish-icon {
			color: #ff6721;
		}
		color: black;
		li {
			color: $primary;
		}
		s {
			color: #5f5f5f;
		}
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	@include media-breakpoint-down(sm) {
		.list-inline {
			font-size: 8px;
			li {
				margin: 0;
			}
		}
		p,
		s,
		b {
			font-size: 16px !important;
		}
		.btn {
			font-size: 10px;
			padding: 5px;
		}
	}

	h5 {
		font-weight: bold !important;
		font-family: "Montserrat";
	}
	.card-img-top {
		box-shadow: rgba(153, 153, 153, 0.35) 0px 5px 15px;
		background-color: #ebebeb60;
		border-radius: 10%;
		width: 100%;
		height: 100%;
		margin: auto;
		justify-content: center;
		align-content: center;
		position: relative;
		padding: 5px;
	}
	img {
		width: 150px;
		position: inherit;
		@include media-breakpoint-down(sm) {
			width: 100px;
			margin: auto;
		}
	}
	.btn {
		padding: 5px 20px;
		border-radius: 20px;
		background-color: transparent !important;
		color: #5f5f5f !important;
		border: none !important;
		width: auto;
	}
	.btn:hover {
		background-color: $primary !important;
		border-radius: 20px;
		color: white !important;
	}
	.addtocart {
		background-color: rgb(48, 48, 48) !important;
		color: white !important;
		font-size: 16px;
		padding: 5px 55px 5px 55px;

		@include media-breakpoint-down(sm) {
			font-size: 2vw;
		}
	}
}

.promo {
	width: 100vw !important;
	margin-right: auto;
	@include media-breakpoint-up(md) {
		width: 70vw !important;
	}
	// @include media-breakpoint-down(sm) {
	// 	width: 70vw !important;
	// }

	.alert {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
		padding: 5px;
		border-radius: 5px;
		border: none;
	}

	.alert-info {
		background-color: #9dff90; /* Green background color */
		color: rgb(0, 0, 0);
		font-weight: bold;
	}
	.banner {
		@include media-breakpoint-down(sm) {
			height: 30vh;
			justify-content: center;
			padding: 0;
			img {
				width: 100%;
			}
		}
	}
}
.Toprated {
	width: 30vw !important;
	@include media-breakpoint-down(sm) {
		display: none;
	}
	.card-body {
		@include media-breakpoint-down(sm) {
			padding: 0;
			p {
				margin: 0;
				text-align: center;
				font-size: 8px;
			}
			a {
				display: flex;
				flex-wrap: wrap;
				li {
					margin: 0;
				}
				font-size: 5px;
			}
			.d-flex {
				align-items: center;
			}
		}
	}
}

/* styles.css */
.iq-navbar-header,
.iq-header-img {
	@include media-breakpoint-down(sm) {
		height: 70px !important;
		img {
			height: 50% !important;
		}
	}
}

.test {
	.card {
		flex-direction: row;
		max-width: 30em;
		border: 0;
		background-color: #696969;
		color: #fff;
		box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
		@include media-breakpoint-up(sm) {
			flex-direction: column;
			max-width: 15em;
		}
	}
	.card img {
		max-width: 25%;
		margin: auto;
		padding: 0.5em;
		border-radius: 0.7em;
	}
	.card-body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			flex-direction: column;
		}
	}
	.text-section {
		max-width: 100%;
	}
	.cta-section {
		max-width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.cta-section .btn {
		padding: 0.2em 0.5em;
		font-size: 1em;
		color: #696969;
	}
	.card-text {
		letter-spacing: 0.1em;
	}
}
