@use "../custom" as *;

.content-inner {
	flex-wrap: nowrap !important;
	aside {
		width: 30%;
		padding-left: 15px;
		margin-left: 15px;
		float: right;
		font-style: italic;
		background-color: lightgray;
	}
}
.items-catergory-card {
	justify-content: center;
	flex-wrap: nowrap !important;
	.card {
		width: 20vw;
		margin: 2rem;
		padding: 10px;
		.card-header {
			font-size: 15px;
			flex-wrap: nowrap;
			padding: 0;
			@include media-breakpoint-down(md) {
				font-size: 10px;
			}
			.text-left,
			.text-right {
				padding: 0;
				text-align: center;
			}
		}
	}
	.image-grid-container {
		display: grid;
		grid-gap: 5px;
		/* For 3 columns */
		grid-template-columns: auto auto;

		width: auto;
		height: auto;

		img {
			width: auto;
			margin: auto;
			border-radius: 20%;
		}
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}
}
.Topsellers-card {
	justify-content: center;
	flex-wrap: nowrap !important;
	.card {
		width: 20vw;
		margin: auto;
		padding: 10px;
		.card-header {
			font-size: 15px;
			flex-wrap: nowrap;
			padding: 0;
			@include media-breakpoint-down(md) {
				font-size: 10px;
			}
			.text-left {
				padding: 0;
				text-align: center;
			}

			.text-right {
				text-align: end;
			}
		}

		.card-body{
			
		}
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	@include media-breakpoint-down(sm) {
		h5 {
			font-size: 12px;
		}
		.list-inline {
			font-size: 5px;
			li {
				margin: 0;
			}
		}

		strike,
		b {
			font-size: 8px !important;
		}
		.btn {
			font-size: 10px;
			padding: 5px;
		}
	}

	img {
		width: 150px;
		margin: auto;
		@include media-breakpoint-down(sm) {
			width: 30px;
			margin: auto;
		}
	}

	.btn:hover {
		background-color: $primary !important;
		border-radius: 20px;
	}
}

.TopSellers {
	width: 65vw !important;
	@include media-breakpoint-up(md) {
		width: 70vw !important;
	}
	// @include media-breakpoint-down(sm) {
	// 	width: 70vw !important;
	// }
}
.Toprated {
	width: 25vw !important;
	.card-body {
		@include media-breakpoint-down(sm) {
			padding: 0;
			p {
				margin: 0;
				text-align: center;
				font-size: 8px;
			}
			a {
				display: flex;
				flex-wrap: wrap;
				li {
					margin: 0;
				}
				font-size: 5px;
			}
			.d-flex {
				align-items: center;
			}
		}
	}
}

.heart-icon[data-state="empty"]::before {
	content: "\f08a"; /* Outline heart icon content */
}

/* Filled state */
.heart-icon[data-state="filled"]::before {
	content: "\f004"; /* Filled heart icon content */
}
